@model IEnumerable<LogicaAlquileres.Managers.ModelFactories.PropiedadCompleto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id_Propiedad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.id_Usuario_Propiedad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.id_Alquiler)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.direccion_Propiedad)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.estado_Propiedad)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.precio_Propiedad)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.nombre_Propiedad)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.descripcion_Propiedad)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id_Propiedad)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.id_Usuario_Propiedad)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.id_Alquiler)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.direccion_Propiedad)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.estado_Propiedad)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.precio_Propiedad)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.nombre_Propiedad)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.descripcion_Propiedad)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
